/*******************  Hide Stats on About Page ****************************/
.about__right-side h3:nth-of-type(2),
.about__activities, .about__stats {
  display: none !important;
}
/*****************************************************************/

/**********************Hide allow PM from profile page (JP)**************************/
div.control-group.private-messages {
    display: none;
}
/***********************************/


/********************************Highlight pinned topic**********************************/
tr[data-topic-id='75463'], tr[data-topic-id='82544'] {
/*tr.pinned*/
    background-color: #ccffcc!important;
}
/**************************************/

/*******************  Former Theme Component (Misc MRF Tweaks) ****************************/

///// Style the core Discourse header //////
/*.IGNOREd-header #site-logo {
    max-height: 100px;
}*/

// Chris Malone  Additions //
.d-header #site-logo {
    height:3.2em;
}

/*.IGNOREd-header {
    height: 120px;
}*/

// Add underline to link within posts upon hovering
.cooked a:hover {
    text-decoration: underline;
}


// Add vertical spacing to the list of expandable details on the FAQ page
.static-faq details {
    //padding-bottom: 10px;
    margin-bottom: 1px;
    //padding: 1px;
}


.topic-list .main-link a.title, a.mineral-services-directory {
    color: #2575AD!important;
    font-weight: bold!important;
}

.topic-list .main-link a.title:hover, a.mineral-services-directory:hover {
    color: #cd2626!important;
}


// Taylor additions ///

// Remove padding
.list-controls .container {
    padding-left: 0px;
    padding-right: 0px;
}

// Darken the category descriptions
.category-description {
   color: #646464 !important;
}


/*****************************************************************/

/*******************  Set Category Logo Max Height (JP) ****************************/

.category-logo.aspect-image {
    max-width: 200px;
    --max-height: 75px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 15px;
}
/*****************************************************************/

/*******************  Style Business Member Signature and Post Text Color (TH) ****************************/
.group-signature {
    font-weight: bold;
    a {
        color: #08c !important;
        &:hover {
            text-decoration: underline;
        }
    }
}
/*******Business Member Post Color*******/
.group-BusinessMember {
  color: #08c !important;
}

.topic-post.post--group-BusinessMember .cooked p a {
    color: #646464 !important;
font-weight:bold!important;
}

/*****************************************************************/

/*******************  "New Topic" and "Post Topic" Button ****************************/

button#create-topic.btn,
button.groups-header-new, 
#new-create-topic {
    color: white!important;
    background: var(--tertiary);
}

// Post Topic button on composer
.topic .btn.btn-icon-text.btn-primary.create {
    color: white!important;
    background: var(--tertiary)!important;
}
#create-topic > svg {
    fill:#fff!important;
}
/*****************************************************************/
// Hides the About Field on Profile page (and removes edit access) for non-business members (this is an upsell)
// This will also show the about field for admin users
body:not(.primary-group-businessmember):not(.admin-user) .pref-bio {
    display: none;
}

body:not(.primary-group-businessmember):not(.admin-user) .pref-website {
    display: none;
}

body:not(.primary-group-businessmember):not(.admin-user) .pref-profile-bg {
    display: none;
}

body:not(.primary-group-businessmember):not(.admin-user) .names__secondary {
    display: none;
}

/****************** Change Topic Hover Color *******************/
.topic-list-item,
.latest-topic-list-item {
  &:hover {
    background: rgba(var(--primary-rgb), 0.055)!important;
  }
}

/******** Hide Author on Published Pages **********************/
.published-page-author {
    display:none!important;
}


/************** Hide Click Badge in Post for Non-Admins *****************/
body:not(.staff) .badge.badge-notification.clicks {
    display: none;
}

/**************** PM Icon Color *******************/
.private-message-glyph {
    color:green!important;
}
.composer-action-privateMessage {
  background-color: #e0ffe2!important;
}
.composer-action-privateMessage .grippie {
  background-color: #28b332!important;
}
.private-message .d-editor-preview-wrapper {
    /* Your styles here */
    background-color: #ffffff;
    border: 1px solid #ccc;
}
.private-message .d-editor-preview {
    padding:20px!important;
}

/*******************  HOUSE ADS CATEGORY CSS ****************************/

//Category Banner (Category Topic List Page)

// Stuff to change when you add a new category ad (known as a County Targeted Listing)
.category-mississippi-mineral-rights-jones-county-ms .house-ad.jones-county-ms  {
        display: block;
}

.category-mississippi-mineral-rights-jasper-county-ms .house-ad.jasper-county-ms  {
        display: block;
}

.category-texas-mineral-rights-atascosa-county-tx .house-ad.atascosa-county-tx  {
        display: block;
}

.category-texas-mineral-rights-culberson-county-tx .house-ad.culberson-county-tx  {
        display: block;
}

.category-texas-mineral-rights-dawson-county-tx .house-ad.dawson-county-tx  {
        display: block;
}

.category-texas-mineral-rights-fayette-county-tx .house-ad.fayette-county-tx  {
        display: block;
}

.category-texas-mineral-rights-gaines-county-tx .house-ad.gaines-county-tx  {
        display: block;
}

.category-texas-mineral-rights-karnes-county-tx .house-ad.karnes-county-tx  {
        display: block;
}

.category-texas-mineral-rights-la-salle-county-tx .house-ad.la-salle-county-tx  {
        display: block;
}

.category-texas-mineral-rights-lavaca-county-tx .house-ad.lavaca-county-tx  {
        display: block;
}

.category-texas-mineral-rights-permian-basin .house-ad.permian-basin  {
        display: block;
}

.category-texas-mineral-rights-glasscock-county-tx .house-ad.glasscock-county-tx  {
        display: block;
}

.category-texas-mineral-rights-howard-county-tx .house-ad.howard-county-tx  {
        display: block;
}

.category-texas-mineral-rights-loving-county-tx .house-ad.loving-county-tx  {
        display: block;
}

.category-texas-mineral-rights-martin-county-tx .house-ad.martin-county-tx  {
        display: block;
}

.category-texas-mineral-rights-midland-county-tx .house-ad.midland-county-tx  {
        display: block;
}

.category-texas-mineral-rights-pecos-county-tx .house-ad.pecos-county-tx  {
        display: block;
}

.category-texas-mineral-rights-reagan-county-tx .house-ad.reagan-county-tx  {
        display: block;
}

.category-texas-mineral-rights-reeves-county-tx .house-ad.reeves-county-tx  {
        display: block;
        border-radius:20px!important;
}

.category-texas-mineral-rights-upton-county-tx .house-ad.upton-county-tx  {
        display: block;
}

.category-texas-mineral-rights-ward-county-tx .house-ad.ward-county-tx  {
        display: block;
}

.category-texas-mineral-rights-winkler-county-tx .house-ad.winkler-county-tx  {
        display: block;
}


.category-oklahoma-mineral-rights-canadian-county-ok .house-ad.canadian-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-cleveland-county-ok .house-ad.cleveland-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-creek-county-ok .house-ad.creek-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-garfield-county-ok .house-ad.garfield-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-garvin-county-ok .house-ad.garvin-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-grady-county-ok .house-ad.grady-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-kay-county-ok .house-ad.kay-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-lincoln-county-ok .house-ad.lincoln-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-logan-county-ok .house-ad.logan-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-love-county-ok .house-ad.love-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-mcclain-county-ok .house-ad.mcclain-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-noble-county-ok .house-ad.noble-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-okfuskee-county-ok .house-ad.okfuskee-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-oklahoma-county-ok .house-ad.oklahoma-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-okmulgee-county-ok .house-ad.okmulgee-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-payne-county-ok .house-ad.payne-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-pontotoc-county-ok .house-ad.pontotoc-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-pottowatomie-county-ok .house-ad.pottowatomie-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-seminole-county-ok .house-ad.seminole-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-stephens-county-ok .house-ad.stephens-county-ok  {
        display: block;
}

.category-oklahoma-mineral-rights-kingfisher-county-ok .house-ad.kingfisher-county-ok  {
        display: block;
}

.category-wyoming-mineral-rights-converse-county-wy .house-ad.converse-county-wy  {
        display: block;
}

.category-wyoming-mineral-rights-campbell-county-wy .house-ad.campbell-county-wy  {
        display: block;
}

.category-wyoming-mineral-rights-laramie-county-wy .house-ad.laramie-county-wy  {
        display: block;
}

.category-wyoming-mineral-rights-johnson-county-wy .house-ad.johnson-county-wy  {
        display: block;
}

.category-new-mexico-mineral-rights-lea-county-nm .house-ad.lea-county-nm  {
        display: block;
}

.category-new-mexico-mineral-rights-eddy-county-nm .house-ad.eddy-county-nm  {
        display: block;
}

.category-north-dakota-mineral-rights-billings-county-nd .house-ad.billings-county-nd  {
        display: block;
}

.category-north-dakota-mineral-rights-burke-county-nd .house-ad.burke-county-nd  {
        display: block;
}

.category-north-dakota-mineral-rights-divide-county-nd .house-ad.divide-county-nd  {
        display: block;
}

.category-north-dakota-mineral-rights-dunn-county-nd .house-ad.dunn-county-nd  {
        display: block;
}

.category-north-dakota-mineral-rights-mckenzie-county-nd .house-ad.mckenzie-county-nd  {
        display: block;
}

.category-north-dakota-mineral-rights-mountrail-county-nd .house-ad.mountrail-county-nd  {
        display: block;
}

.category-north-dakota-mineral-rights-williams-county-nd .house-ad.williams-county-nd  {
        display: block;
}

.category-colorado-mineral-rights-weld-county-co .house-ad.weld-county-co  {
        display: block;
}


// END STuff to change when you add a new category ad (known as a County Targeted Listing)

.house-ad {
    display: none;
}
.house-creative.house-post-bottom {
    margin-left: 0 !important;
    a.between-posts-ad {
        color:  #08c;
        font-weight:bold; 
        strong {
            color: var(--primary);
        }
        .ad-container {
            max-width: calc(#{$topic-avatar-width} + #{$topic-body-width} + (#{$topic-body-width-padding} * 2));
            padding: 10px 5px;
            text-align: center;
            background: #d1f0ff;
            border: 0px solid #000000;
            border-left: 30px solid #fbfbfb;
            border-right: 30px solid #fbfbfb;
            box-sizing: border-box;
            .ad-label {
                display: none;
                margin-right: 2px;
                padding: 2px 5px;
                color: var(--primary-very-low);
                font-weight: bold;
                background-color: #EAC34E;   // Sets color of "Ad" label
                border-radius: 5px;
            }
        }
    }
}


//Within Category Topic (every nth post)
//County Service Professionals Styles//
/*For EACH pinned post for county service professionals:
    • add the category class (this allows the styling to only be active on the category page) 
        ex:  category-mississippi-mineral-rights-jones-county-ms
    • at the data-topic-id
        ex: tr{data-topic-id="53104"]
*/

.category-mississippi-mineral-rights-jones-county-ms tr[data-topic-id="53104"],
.category-texas-mineral-rights-atascosa-county-tx tr[data-topic-id="56560"],
.category-texas-mineral-rights-culberson-county-tx tr[data-topic-id="56561"],
.category-texas-mineral-rights-dawson-county-tx tr[data-topic-id="56562"],
.category-texas-mineral-rights-fayette-county-tx tr[data-topic-id="56563"],
.category-texas-mineral-rights-gaines-county-tx tr[data-topic-id="56564"],
.category-texas-mineral-rights-karnes-county-tx tr[data-topic-id="56565"],
.category-texas-mineral-rights-la-salle-county-tx tr[data-topic-id="56568"],
.category-texas-mineral-rights-lavaca-county-tx tr[data-topic-id="56569"],
.category-texas-mineral-rights-permian-basin tr[data-topic-id="56570"],
.category-texas-mineral-rights-glasscock-county-tx tr[data-topic-id="56571"],
.category-texas-mineral-rights-howard-county-tx tr[data-topic-id="56572"],
.category-texas-mineral-rights-loving-county-tx tr[data-topic-id="56573"],
.category-texas-mineral-rights-martin-county-tx tr[data-topic-id="56574"],
.category-texas-mineral-rights-midland-county-tx tr[data-topic-id="56575"],
.category-texas-mineral-rights-pecos-county-tx tr[data-topic-id="56576"],
.category-texas-mineral-rights-reagan-county-tx tr[data-topic-id="56577"],
.category-texas-mineral-rights-reeves-county-tx tr[data-topic-id="56305"],
.category-texas-mineral-rights-upton-county-tx tr[data-topic-id="56578"],
.category-texas-mineral-rights-ward-county-tx tr[data-topic-id="56579"],
.category-texas-mineral-rights-winkler-county-tx tr[data-topic-id="56580"],
.category-oklahoma-mineral-rights-canadian-county-ok tr[data-topic-id="56590"],
.category-oklahoma-mineral-rights-cleveland-county-ok tr[data-topic-id="62816"],
.category-oklahoma-mineral-rights-creek-county-ok tr[data-topic-id="62813"],
.category-oklahoma-mineral-rights-garfield-county-ok tr[data-topic-id="56591"],
.category-oklahoma-mineral-rights-garvin-county-ok tr[data-topic-id="56592"],
.category-oklahoma-mineral-rights-grady-county-ok tr[data-topic-id="56518"],
.category-oklahoma-mineral-rights-kay-county-ok tr[data-topic-id="62819"],
.category-oklahoma-mineral-rights-lincoln-county-ok tr[data-topic-id="56593"],
.category-oklahoma-mineral-rights-logan-county-ok tr[data-topic-id="56594"],
.category-oklahoma-mineral-rights-love-county-ok tr[data-topic-id="56595"],
.category-oklahoma-mineral-rights-mcclain-county-ok tr[data-topic-id="56596"],
.category-oklahoma-mineral-rights-noble-county-ok tr[data-topic-id="62818"],
.category-oklahoma-mineral-rights-okfuskee-county-ok tr[data-topic-id="62812"],
.category-oklahoma-mineral-rights-oklahoma-county-ok tr[data-topic-id="62810"],
.category-oklahoma-mineral-rights-okmulgee-county-ok tr[data-topic-id="62814"],
.category-oklahoma-mineral-rights-payne-county-ok tr[data-topic-id="56597"],
.category-oklahoma-mineral-rights-pontotoc-county-ok tr[data-topic-id="62815"],
.category-oklahoma-mineral-rights-pottowatomie-county-ok tr[data-topic-id="62817"],
.category-oklahoma-mineral-rights-seminole-county-ok tr[data-topic-id="62811"],
.category-oklahoma-mineral-rights-stephens-county-ok tr[data-topic-id="56598"],
.category-oklahoma-mineral-rights-kingfisher-county-ok tr[data-topic-id="56599"],
.category-wyoming-mineral-rights-converse-county-wy tr[data-topic-id="56604"],
.category-wyoming-mineral-rights-campbell-county-wy tr[data-topic-id="56605"],
.category-wyoming-mineral-rights-laramie-county-wy tr[data-topic-id="56606"],
.category-wyoming-mineral-rights-johnson-county-wy tr[data-topic-id="56607"],
.category-new-mexico-mineral-rights-lea-county-nm tr[data-topic-id="56608"],
.category-new-mexico-mineral-rights-eddy-county-nm tr[data-topic-id="56609"],
.category-north-dakota-mineral-rights-billings-county-nd tr[data-topic-id="56647"],
.category-north-dakota-mineral-rights-burke-county-nd tr[data-topic-id="56648"],
.category-north-dakota-mineral-rights-divide-county-nd tr[data-topic-id="56649"],
.category-north-dakota-mineral-rights-dunn-county-nd tr[data-topic-id="56650"],
.category-north-dakota-mineral-rights-mckenzie-county-nd tr[data-topic-id="56651"],
.category-north-dakota-mineral-rights-mountrail-county-nd tr[data-topic-id="56653"],
.category-north-dakota-mineral-rights-williams-county-nd tr[data-topic-id="56654"],
.category-colorado-mineral-rights-weld-county-co tr[data-topic-id="56654"],
.category-mississippi-mineral-rights-jasper-county-ms tr[data-topic-id="56281"]{
     
    background:#FFF5CD!important;
    outline:black 1px solid!important;
    outline-offset: 0, 2em;
    border-bottom: 30px solid transparent;

    .d-icon-heart { 
        display: none;
    }
    td:first-child {
        padding-left:20px;
        padding-right:20px;
        padding-top:15px;
        padding-bottom:20px;
    }
    
    a, a:visited {
        color:#2575AD!important;
    }
    .topic-status {
        display:none;
    }
    .posters a {
        visibility:hidden;
        
    }
    
    .number {
        visibility:hidden;
    }
    .post-activity {
        visibility:hidden;
    }
    .relative-date {
        visibility:hidden;
    }

    div.topic-item-stats {
         display: none;
    }
    a.title {
        font-size:1.2em;
    }
}

/*****************************************************************/

/*******************  PUBLISHED PAGES ****************************/
/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

[data-theme-premium-directory-block-1] h3,[data-theme-premium-directory-block-1] p, [data-theme-directory-block] p {
    margin:0px!important;
}

[data-theme-directory] h1 {
    text-align:center!important;
}
.published-page-content-wrapper {
    margin:0px!important;
    padding:0px!important;
}
.published-page-header-wrapper {
    margin: 0px !important;
    display:none!important;
}
[data-theme-page-header] {
    margin:20px auto;
}
[data-theme-page-header] img {
    width:400px!important;
    margin-left:20px!important;
}
.published-page-content-body {
    width: max-content;
}

[data-banner-ad-placeholder] {
    text-align: center;
    margin-bottom: 20px;
}

[data-banner-ad-placeholder] img {
    width: 100%!important;
    height: auto;
    max-width:728px!important;
}

.published-page-content-body .lightbox-wrapper {
    display: flex;
    justify-content: center;
}

.published-page-content-body .lightbox img {
    max-width: 100%;
    height: auto;
}

[data-theme-directory] h2 {
    margin-top: 25px !important;
    text-align: center !important;
}

.mineral-services-directory {
    color: #000;
    font-weight: bold;
}

.mineral-services-directory:hover {
    text-decoration: underline;
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
}

.full-width-header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.page-title {
    text-align: center !important;
}
[data-theme-directory] [data-theme-directory-tables] h2 {
    border-bottom:none!important;
    display:block;
    background-color:#808080!important;
    padding:5px 0;
    text-align:center!important;
    width:100%!important;
    margin-bottom: 20px!important;
    margin-top:20px!important;
    color:#fff!important;
}
[data-theme-directory-tables] {
    width:75%!important;
    margin-left:auto;
    margin-right:auto;
}
.published-page-content-wrapper {
    max-width: max-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

[data-theme-directory-blocks] {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 40px !important;
    margin-bottom: 40px !important;
    justify-content: flex-start !important;
    max-width: 100% !important; /* Ensures the content doesn't exceed the page width */

}
[data-theme-directory-block] {
    background-color:#fafafa;
    border-radius: 6px;
}
[data-theme-directory-block], [data-theme-premium-directory-block-1] {
    padding: 15px 20px !important;
    margin: 25px 10px !important;
    flex: 1 1 calc(33.33% - 70px) !important; /* Creates three columns */
    max-width: calc(33.33% - 40px) !important; /* Controls the max width */
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;
    min-width:300px!important;
}

[data-theme-premium-directory-block-1] {
    background: rgba(255, 245, 205, 0.75);
box-shadow: 2px 2px 3px #999;
border-radius: 6px;
}
.published-page-content-body {
        width:100%!important;
}
[data-theme-directory] {
        width:100%!important;
        padding:0 50px!important;
        box-sizing: border-box;
    }
    
.published-page-content-body img:nth-of-type(2) {
    width: 250px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

[data-footer-text] {
    margin-left:auto;
    margin-right:auto;
}

/* Navigation Menu Styles */
[data-theme-navigation] {
  background-color: #111;
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom:30px!important;
}

[data-theme-navigation-links] {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

[data-theme-navigation-links] a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

[data-footer-link] {
    text-align:center;
    font-weight:bold;
    border-top:solid 1px #808080;
    padding-top:20px!important;
    width: 100%!important;
}
[data-footer-link] a {
    color:#808080;
}
[data-footer-link] a:hover {
    text-decoration:underline;
}
[data-footer-text] {
    text-align:center;
    padding-bottom:30px;
}
[data-testimonials] {
    text-align:center!important;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
[data-footer-seal] {
    width:200px!important;
    display:block!important;
    margin-top:-50px!important;
    margin-left:auto!important;
    margin-right:auto!important;
    text-align:center!important;
}
span {
    font-weight:bold;
}

@media (max-width: 768px) {
  [data-theme-navigation-links] a:nth-child(n+2) {
    display: none; /* Hide all links except the first one (Home) */
  }
}
/*****************************************************************/

/******* County Header Description Styles *************/
.category-heading__description {
  padding: 15px !important;
  background: #f3f3f3 !important;
  color: black!important;
  max-width:100%!important;
}
.category-heading {
  border:none!important;
}

/*************** In House Ad Links ******************/
.in-house-ad-link {
  color: black;
}
.in-house-ad-link:hover {
  color:inherit;
  text-decoration:underline;
}
