/***********************************Add Logo to Easy Footer**********************************/
.first-box .heading {
    background-image: url("https://staging.mineralrightsforum.com/uploads/default/original/2X/a/a4c0c10f2863d0cbff835af77d11fb0edfeaf0cc.png");
    background-size:100%;
    background-repeat:no-repeat;
    min-height: 50px;
}

.first-box {
    width:30%!important;
    max-width:30%!important;
}
/************************************/

/*******************  Style Business Member Signature (TH) ****************************/
.group-signature {
    padding-left: 10px;
}
/*****************************************************************/